# DATABASE
DB_HOST=localhost
DN_PORT=5432
POSTGRES_USER='DB_USER'
POSTGRES_PASSWORD='DB_PASSWORD'
POSTGRES_DB='DB_NAME'

# SECRET ENCRYPTION HELPER
ENCRYPTION_KEY=SuperSecretDeLaMortQuiTueDe32/64Caracteres